// infowindow material design table

'<div ng-hide="'+!$scope.crime[i].iconbool+'" class="fade mdl-card infocard">'+
  '<div class="mdl-card__title info-title police-banner">'+
  '<i class="icon-police movement"></i>'+
  '<i class="icon-frustrated crimemove"></i>'+
  '<i class="icon-police police-fade"></i>'+
  '<span><img src="/SPD.jpg" class="spd-img" align="center"></span>'+
  '<span class="spd-text mdl-color--grey-900 mdl-color-text--grey-100"><strong>Seattle Police</strong></span>'+
  '</div>'+
  '<div class="mdl-card__media">'+ 
  '</div>'+
  '<div class="mdl-card__supporting-text">'+
    '<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">'+
    '<tbody>'+
      '<tr>'+
        '<td class="mdl-data-table__cell--non-numeric"><label>Date:</label></td>'+
        '<td class="mdl-data-table__cell--non-numeric">'+$scope.crime[i].mapdate.substring(0,10)+'</td>'+
      '</tr>'+
      '<tr>'+
        '<td class="mdl-data-table__cell--non-numeric"><label>Offense:</label></td>'+
        '<td class="mdl-data-table__cell--non-numeric">'+$scope.crime[i].mapoffense+'</td>'+
      '</tr>'+
      '<tr>'+
        '<td class="mdl-data-table__cell--non-numeric"><label>Address: </label></td>'+
        '<td class="mdl-data-table__cell--non-numeric">'+$scope.crime[i].mapaddy+'</td>'+
      '</tr>'+
    '</tbody>'+
  '</table>'+
  '</div>'+
'</div>'