
@keyframes police {
    from {color:#1569C7;}
	to {color:#E41B17;}
}

@keyframes police1 {
    0%  {left:0%; opacity:0;}
    3%  {left:0%; opacity:0;}
    6%  {left:0%; opacity:0;}
    10%  {left:0%; opacity:1;}
    23% {left:80%; opacity:1;}
    26% {left:80%; opacity:1;}
    30% {left:80%; opacity:1;}
    33% {left:80%; opacity:0;}
    100% {left:80%; opacity:0;}
}

@keyframes crimemove {
    0%  {left:0%; opacity:0;}
    3%  {left:0%; opacity:0;}
    6%  {left:0%; opacity:1;}
    23% {left:80%; opacity:1;}
    26% {left:80%; opacity:1;}
    30% {left:80%; opacity:0;}
    100% {left:80%; opacity:0;}
}

@keyframes police2 {
    0%  {left:80%; opacity:0;}
    13%  {left:80%; opacity:0;}
    16%  {left:80%; opacity:1;}
    30%  {left:80%; opacity:1;}
    33% {left:80%; opacity:0;}
    100% {left:80%; opacity:0;}
}

.crimemove {
    position:relative;
	animation-name:crimemove;
	animation-duration: 30s;
    animation-iteration-count: infinite;
}

.movement {
	position:relative;
	animation-name:police1;
	animation-duration: 30s;
    animation-iteration-count: infinite;
}

.police-fade {
    position:relative;
    animation-name:police2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes spd2 {
    0%  { opacity: 0;}
    33%  { opacity: 0;}
    34%  { opacity: 1;}
    99%  { opacity: 1;}
    100% { opacity: 0;}
}

.spd-img {
    z-index:-1;
    position:relative;
    animation-name:spd2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.spd-text{
    font-family: 'Roboto', sans-serif;
    border:solid transparent 1px;
    border-radius:10px;
    background-color:red;
    opacity:.87;
    position:absolute;
    left:120px;
    top:40px;
    animation-name:spd2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
